


<h6> <%= button_to 'Log Out',  log_out_path, method: :delete %> </h6>

<input type="hidden" id='api-token' value="<%= @user.token %>">
<div class="row">
  <h1>DIS IS YO PROFILE, <%= @user.username %></h1>
</div>
<div class="row">
  <h2>Your Greenhaus</h2>
    <% @greeneries.each_with_index do |greenery, index|%>
      <div class="col s4">
      <h3><%= greenery.plant.name %></h3>

      <% if (index+1)%4==0 %>
    </div>
    <div class="col s4">
      <% end %>
        </div>
    <% end %>

</div>


  <img src="http://www.thegardenhelper.com/psd/pinguicula_vulgaris.jpg" alt="broken image :("/>

<img style="-webkit-user-select: none" src="http://www.thegardenhelper.com/psd/pinguicula_vulgaris.jpg">
