<a class='dropdown-button btn light-green darken-4' data-beloworigin='true' data-activates='dropdown1'>menu</a>
<ul id='dropdown1' class='dropdown-content'>
  <li><a class="light-green-text text-darken-4" href="/plants">Explore Plants</a></li>
  <li><a class="light-green-text text-darken-4" href="/login">Log In</a></li>
  <li><a class="light-green-text text-darken-4" href="/signup">Sign Up</a></li>
  <li><a class="light-green-text text-darken-4" href="/about">About greenhaus</a></li>
</ul>
