<% if current_user %>
  <%=render 'loggedin'%>
<% else %>
  <%=render 'loggedout'%>
<%end%>

<section class="module parallax parallax-1">
  <div class="container">

  </div>
</section>


  <div class="container">
    <img id="title" src="<%= image_path("title.png") %>" />
  </div>
