
<section class="module parallax parallax-1">
  <div class="container">
    <img id='title' src="/assets/title.png"></img>
  </div>
</section>

<section class="module content">
  <div class="container">
    <a href="signup">Sign Up</a> <a href="/login">Log In</a>
  </div>
</section>

<section class="module parallax parallax-2">
  <div class="container">
    <h1></h1>
  </div>
</section>
