<div class="row">
  <div id="left-column" class="three columns">
    <img class="logo" src="/assets/cutenacho.png"></img> <h1>Nachos<br>&<br>Margs</h1>
    <h4>"NACHO" ordinary food blog</h4>
  </div>
  <div id="wrapper" class="nine columns">
    <div id="main-content">
      <div id="navbar" class="row">
        <a class="links" href="/about">About</a> <a class="links" href="/login">Contributors</a> <a href="/signup" class="links">Join Us!</a>
      </div>
      <div id='recipes-list' class="row">
        <% @posts.each do |post| %>
          <div class="recipe">
            <h3><%= post.title %></h3>
            <p align="left"class="author">Recipe submitted by: <%= @users.find(post.user_id).username%></p>
            <p><%= post.body %></p>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
