
<section class="module parallax parallax-1">
  <div class="container">
    <img id='title' src="/assets/title.png"></img>
  </div>
</section>

<section class="module content">
  <div class="container">
    <h2>Lorem Ipsum Dolor</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
  </div>
</section>

<section class="module parallax parallax-2">
  <div class="container">
    <h1></h1>
  </div>
</section>
