<h1>Welcome to greenhaus</h1>
<h4>Helping you make life a bit more green.</h4>

<p>
Growing up, I was always amazing by the beautiful gardens my mother was able to maintain. As soon as I moved out of my parents' home and got my own place, I jetted off to fill the rooms full of house plants.<br>
Of course, there is little that I find more lovely than a room full of gorgeous, healthy plants, but it didn't take long for me to realize that I just did not have the same green thumb that my mom did. I killed pretty much all of my plants before I could even instagram them!(jk)<br>
So here is greenhaus, an attempt to make caring for plants a little bit easier. Not only is it a resource to learn more about common house plants, but it also allows you to create an account, add the plants you own, and recieve reminders to make sure you water them when they need it!<br>
Let us help you make things a bit more green!
</p>


<h6>Have any questions or concerns? Are there any plants that we've missed?</h6>
<h6> If so, feel free to <a href="mailto:ajhofferber@gmail.com">Contact Us!</a></h6>
