// Place all the styles related to the plants controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


$main-font-color: #33691e;



img.thumb{
  height: auto;
  width: 75%;
  margin-top: 1%;
  border-radius: 5px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.ind-plant{
  height: 350px;
  text-align: center;
}

h6{
  font-size: 1em;
}

.plantname{
  color: $main-font-color;
}

.plantname:hover{
  color: pink;
}

.add-plant{
  display: inline;
  margin-left: 5%;
}

#add-button{
  color: hotpink;
}

.plant-show{
  margin:10%;
  width: 80%;
  border: 3px solid black;
}

p{
  font-size: 1.2em;
}

section{
  margin-top: 10%;
  padding: 2%;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
}

#back-link{
  margin-left: 85%;
  color: $main-font-color;
}

#back-link:hover{
  color: pink;
}
