// Place all the styles related to the plants controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


$main-font-color: hex(#33691e);

img.thumb{
  width: 200px;

}

.ind-plant{
  height: 350px;
  text-align: center;
}

h6{
  font-size: 1em;
}

.plantname{
    color: green;
}

.plantname:hover{
  color: pink;
}
