// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "materialize";
$main-font-color: #33691e;


.profile-display{
  width: 33%;
  height: 250px;
}

#delete-account{
  margin-left: 87%;
  font-size: 12px;
}

.display{
  text-align: center;
}

.see-more{
  color: $main-font-color;
}

.see-more:hover{
  color: pink;
}

.delete-greenery{
  bottom:0;
}
