// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.container {
  max-width: 960px;
  margin: 0 auto;
}

section.module:last-child {
  margin-bottom: 0;
}
section.module h2 {
  margin-bottom: 40px;
  font-family: "Roboto Slab", serif;
  font-size: 30px;
}
section.module p {
  margin-bottom: 40px;
  font-size: 16px;
  font-weight: 300;
}
section.module p:last-child {
  margin-bottom: 0;
}
section.module.content {
  padding: 40px 0;
}
section.module.parallax {
  height: 800px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
section.module.parallax-1 {
  background-image: url("/assets/backrnd.png");
}
// section.module.parallax-2 {
//   background-image: url("/assets/backgroundbanana.png");
// }
// section.module.parallax-3 {
//   background-image: url("../img/demo/_small/3.jpg");
// }

#title{
  width: 140%;
  margin-top: 20%;
  margin-left: -20%;
  display:none;
}

.dropdown-button{
  position: fixed;
  left: 85%;
  opacity:.75;
  margin: .5%;
}

#dropdown1{
  margin: .5%;
}

.dropdown-button:hover{
  opacity: 1.0;
}
