// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body{
  background-color: ghostwhite;
  color: dimgrey;
  font-family: futura;
  text-align: center;
  padding: 5%;
  font-size: 18px;
}

h1{
  font-family: 'Amatic SC', cursive;
  font-size: 4em;
  line-height: 1em;
}

h4{
  font-family: 'Amatic SC', cursive;
  font-size: 1.75em;
}


#wrapper{
  position: relative;
  width: 100%;
  height: 100%;
  margin: auto;
  padding: 0;
}

#main-content{
  float: right;
  left: 30%;
  width: 70%;
  height: 100%;
}

#left-column{
  position: fixed;
}

#navbar{
  position: fixed;
  top: 0;
  padding-top: 2%;
  display: block;
  background-color: ghostwhite;
  height: 100px;
  color: hotpink;
  text-align: center;
  width: 100%;
}

#recipes-list{
  margin-top: 15%;
  border-left: 1px solid rgba(38, 38, 38, 0.7);
}

.logo{
  width: 100%;
}
