<!DOCTYPE html>
<html>
<head>
  <title>greehaus</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

</head>
<body>
  <container>
    <%= yield %>
  </container>
  <%= javascript_include_tag 'users', 'data-turbolinks-track' => true %>
</body>
</html>
