<!DOCTYPE html>
<html>
<head>
  <title>Bloggin</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <script type="text/template" id='post-template'>
    <h3>
      <%%= title %>
      <%%= body %>
    </h3>
  </script>


</head>
<body>

  <%= yield %>

  <%= javascript_include_tag 'users', 'data-turbolinks-track' => true %>
</body>
</html>
